* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/background_yurisoundcar.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;

}
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.overlay {
    position: relative;
    z-index: 1;
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.description {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-bottom: 50px;
}
#cta01 {
    color: #ff7e00;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
span {
    font-weight: bold;
    color: #ff7e00;
    padding: 5px;
    border-radius: 5px;
}

#contato {
    text-align: center;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(50px);
    width: 90%;
    max-width: 800px;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: relative;
    margin-top: 0px;
    margin-bottom: 2px;
}
.container iframe {
    width: 100%;  /* O iframe ocupa 100% da largura do container */
    height: 100%;  /* O iframe ocupa 100% da altura do container */
    border: none;  /* Remove bordas */
    border-radius: 10px;  /* Aplica arredondamento nas bordas do iframe */
    overflow: hidden;
}
.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 160px;
    height: auto;
    border-radius: 80px;
}

#title_map {
    color: #ff7e00;
}

.map-container {
    margin-bottom: 20px;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 15px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
}

.links a {
    background-color: #000000;
    color: #ffffff;
    padding: 15px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 17px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.links a:hover {
    background-color: #ff7e00;
}

.social-media {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    font-size: 30px;
    color: #ff7e00;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #ff7e00;
}

footer {
    margin-top: 30px;
    font-size: 14px;
    color: #fffcfc;
}
a {
    color: #ade736;
    text-decoration: none;
}
#cnpj {
    padding: 20px;
}

/* RESPONSIVIDADE */
 
   /* MEDIA QUERY PARA TELAS MENORES (ATÉ 768px) */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        padding: 10px;
        height: auto;
        width: 100%;
        overflow: auto;
        background-size: cover;
        background-position: center;
        font-style: bold;
         background-image: url(images/background_yurisoundcar.png);
         background-attachment: fixed;
        overflow: auto;

    }

    .container {
        width: 90%;  /* Ajusta a largura para ocupar quase toda a tela */
        max-width: 400px; /* Limita a largura máxima para não ficar grande demais */
        padding: 15px; /* Reduz o espaço interno */
        border-radius: 8px;
    }

    .logo img {
        width: 120px; /* Reduz o tamanho da logo */
        height: auto;
    }

    .description {
        font-size: 14px; /* Texto menor */
        text-align: center;
        padding: 8px;
        word-spacing: normal;
    }
    #cta01 {
        font-size: 14px; /* Texto menor */
        text-align: center;
        padding: 8px;
        word-spacing: normal;
    }


    .links {
        gap: 10px;
    }

    .links a {
        font-size: 14px;
        padding: 10px;
    }

    .social-media {
        margin-top: 20px;
        gap: 10px;
    }

    .social-icon {
        font-size: 30px; /* Ícones menores */
    }

    footer {
        font-size: 12px; /* Texto do rodapé menor */
    }
}

/* MEDIA QUERY PARA CELULARES MENORES (ATÉ 480px) */
@media (max-width: 480px) 
{   body{
            background-repeat: no-repeat;
            overflow: hidden;
         background-image: url(images/background_yurisoundcar.png);
         background-attachment: fixed;

    
}
    .container {
        width: 95%; /* Ocupar mais a tela em celulares pequenos */
        max-width: 350px;
        padding: 12px;
        font-style: bold;
        overflow: auto;
    }

    .description {
        font-size: 13px;
        padding: 6px;
    }

    .links a {
        font-size: 13px;
        padding: 8px;
    }

    .social-icon {
        font-size: 25px;
    }
}
